<div class="table-responsive">
    <table class="table table-bordered row-border hover" datatable [dtOptions]="dtOptions">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Fecha de nacimiento</th>
                <th>Direccion de envio</th>
                <th>Ciudad de envio</th>
                <th>Documento de identidad</th>
            </tr>
        </thead>
        <tbody style="color:black;">
            <tr *ngFor="let item of lista; let i=index">
                <td>#</td>
                <td>{{item.nombre}}</td>
                <td>{{item.fechaN}}</td>
                <td>{{item.direccion}}</td>
                <td>{{item.ciudad}}</td>
                <td> <a [href]="item.pdfShowVar" target="_blank"> VER PDF </a></td>
            </tr>
        </tbody>

    </table>
</div>